.navbar-search{
    margin-top:4px;
}

.palette-green-sea a{
    color:#34495e;
}

.palette-green-sea a:hover{
    color:#2c3e50;
}


.palette-nephritis a{
    color:#34495e;
}

.palette-nephritis a:hover{
    color:#2c3e50;
}

.address a{
    color:white;
}

.type{
    font-size: 1.2em;
    text-transform: uppercase
}
.meta{
    color:white
}
.description{
    color:white;
    font-style: italic;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size:0.9em
}

.col-md-4{
    margin:5px;
    width:32%
}